<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2022 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_ShippingTaxydromiki
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Helper\TaxydromikiInterface" type="Hippiemonkeys\ShippingTaxydromiki\Helper\Taxydromiki" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Helper\Taxydromiki\UpdateShopsInterface" type="Hippiemonkeys\ShippingTaxydromiki\Helper\Taxydromiki\UpdateShops" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\CarrierInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\Carrier" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Data\ShopInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\Shop"/>
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\ShopRepositoryInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\ShopRepository" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\ShopManagementInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\ShopManagement" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Data\ShopSearchResultInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\ResourceModel\Shop\Collection" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Data\JobInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\Job"/>
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\JobRepositoryInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\JobRepository" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\JobManagementInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\JobManagement" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Data\JobSearchResultInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\ResourceModel\Job\Collection" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Data\MethodInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\Method"/>
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\MethodRepositoryInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\MethodRepository" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Data\MethodSearchResultInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\ResourceModel\Method\Collection" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\DataMethodTitleInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\MethodTitle"/>
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\MethodTitleRepositoryInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\MethodTitleRepository" />
    <preference for="Hippiemonkeys\ShippingTaxydromiki\Api\Data\MethodTitleSearchResultInterface" type="Hippiemonkeys\ShippingTaxydromiki\Model\ResourceModel\MethodTitle\Collection" />
    <type name="Hippiemonkeys\ShippingTaxydromiki\Model\Config\Source\Carrier\PdfExtraInfoFormat">
        <arguments>
            <argument name="optionArray" xsi:type="array">
                <item name="None" xsi:type="string">None</item>
            </argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ShippingTaxydromiki\Model\Config\Source\Carrier\PdfFormat">
        <arguments>
            <argument name="optionArray" xsi:type="array">
                <item name="Sticker" xsi:type="string">Sticker</item>
                <item name="Flyer" xsi:type="string">Flyer</item>
            </argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ShippingTaxydromiki\Model\Config\Source\Carrier\SoapLanguage">
        <arguments>
            <argument name="optionArray" xsi:type="array">
                <item name="el" xsi:type="string">Greek</item>
                <item name="en" xsi:type="string">English</item>
            </argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ShippingTaxydromiki\Model\Config\Source\Carrier\WsdlUrl">
        <arguments>
            <argument name="optionArray" xsi:type="array">
                <item name="https://voucher.taxydromiki.gr/JobServicesV2.asmx?WSDL" xsi:type="string">Production</item>
                <item name="https://testvoucher.taxydromiki.gr/JobServicesV2.asmx?WSDL" xsi:type="string">Development</item>
            </argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ShippingTaxydromiki\Model\Config\Source\Carrier\Model">
        <arguments>
            <argument name="optionArray" xsi:type="array"></argument>
        </arguments>
    </type>
    <virtualType name="Hippiemonkeys\ShippingTaxydromiki\Helper\Config\Section\Generic" type="Hippiemonkeys\Core\Helper\Config\Section\Group">
        <arguments>
            <argument name="section" xsi:type="string">carriers</argument>
            <argument name="group" xsi:type="string">hippiemonkeysshippingtaxydromiki</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ShippingTaxydromiki\Helper\Taxydromiki">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ShippingTaxydromiki\Helper\Config\Section\Generic</argument>
        </arguments>
    </type>
</config>